.work {
  width: 100%;
  h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0 90px;
    padding-block: 90px;
    span {
      font-size: 2.8rem;
    }
  }
}
.grid {
  width: 70%;
  margin: 90px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 70px;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    h3 {
        font-weight: 100;
    }
    span {
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: #707070;
        z-index: 1;
       
        transition: all 0.3s ease-in-out;
    }
  }
}

@media only screen and (max-width: 400px) {
  .work {
    h2 {
      margin: 0 10px;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .grid {
    width: 90%;
  }
}

@media only screen and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    div {
      justify-content: center;
      gap: 20px;
      span {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    div {
      justify-content: space-evenly;
      gap: 40px;
    }
  }
}