.wrapper {
  max-width: 84%;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.line {
  display: inline-block;
  border-top: #6a6767 2px solid;
  width: 45px;
  position: relative;
  top: -3px;
  margin-right: 20px;
}
.carouselWrapper {
  width: 850px;
  background-color: transparent;
  position: relative;
  top: -50px;
  margin-left: 50px;
}
.carousel {
  width: 900px;
  display: grid;
  grid-template-columns: 140px 140px 140px 140px 140px 140px;
  column-gap: 20px;
}
.carouselItem {
  width: 150px;
  height: 100px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  max-width: 100px;
}
