.wrapper {
  max-width: 84%;
  margin: auto;
  padding: 48px 0px 160px 0px;

  h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 8px;
  }
}

.carouselItem {
  max-width: 750px;
  padding: 30px;
  box-sizing: border-box;
}
.title {
  font-size: 30px;
  margin: 30px 0 20px;
  color: #001d33;
}
.text {
  margin: 15px 0 30px;
  font-size: 15px;
  color: #6d6c6c;
  line-height: 2.3;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    width: 100%;
    padding: 48px 0 80px 0;
    h1 {
      font-size: 48px;
    }
  }
  .carouselItem {
    padding: 10px;
    img {
      width: 500px;
    }
  }
}
