.heroContainer {
  background: lightblue;
  padding-top: 150px;
  padding-bottom: 100px;
  img {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 1300px) {
  .heroContainer {
    h2,
    p {
      width: 900px;
    }

    img {
      display: none;
    }
  }
}
@media only screen and (max-width: 990px) {
  .heroContainer {
    h2,
    p {
      width: 100%;
    }
  }
}

.mainHeading {
  color: #333;
  font-size: 60px;
  font-weight: bolder;
}

.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  background: #252424cc;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(4px);
}

.contentContainer {
  max-width: 950px;
  margin: 0 auto;
  padding: 100px 20px 0;
}

.mainParagraph {
  margin: 20px 0 30px;
  color: #333;
  font-size: 24px;
}

.flexWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;

  .flexParagraph {
    font-size: 18px;
    margin: 30px 0;
    width: 45%;
    line-height: 2.1;
  }
}

@media only screen and (max-width: 990px) {
  .flexWrapper {
    gap: 30px;
  }
}

.webImage {
  display: block;
  margin: 40px auto;
}

@media only screen and (max-width: 990px) {
  .webImage {
    width: 75vw;
  }
}

.flexCard {
  display: flex;
  gap: 55px;
  margin-bottom: 80px;

  img {
    width: 45px;
    height: 45px;
  }
}

.cardHeadline {
  color: #000;
  font-size: 30px;
}

.cardText {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
  line-height: 2.1;
}

.blueContainer {
  background: #f3f9ff;
}

.contentContainerBig {
  max-width: 1600px;
  padding: 100px 20px;
  margin: 0 auto;
}

.flexBlue {
  display: flex;
  gap: 170px;
}

@media only screen and (max-width: 1300px) {
  .flexBlue {
    gap: 70px;
  }
}

@media only screen and (max-width: 1150px) {
  .imagePeople img {
    width: 40vw;
  }
}

@media only screen and (max-width: 790px) {
  .flexBlue {
    flex-direction: column-reverse;
  }
  .imagePeople img {
    display: block;
    width: 80vw;
    margin: 0 auto;
  }
}

.textBlueHeadline {
  color: #000;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.flexBlueIcons {
  padding: 1rem 0;
  display: flex;
  gap: 40px;
}

.holderTextHeadline {
  font-size: 20px;
  line-height: 1.25;
  color: #333;
}

.holderTextParagraph {
  font-size: 16px;
  color: #333;
  line-height: 1.4;
  margin-top: 10px;
}

.buttonWork {
  background: #0092ff;
  color: #fff;
  border-radius: 5px;
  padding: 17px 60px;
  font-size: 18px;
  white-space: nowrap;
}

.bigCardsMainHeading {
  font-size: 60px;
  color: #333;
  line-height: 1.1;
}

.bigCardsMainParag {
  font-size: 24px;
  color: #333;
  line-height: 1.2;
  margin: 30px 0;
}

.bigCardsContainer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;

  img {
    width: 260px;
    height: 260px;
  }
}

.bigCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  padding: 15px;
}

.bigCardHeading {
  color: #333;
  font-size: 24px;
  margin: 30px 0;
}

.bigCardParag {
  font-size: 18px;
  line-height: 36px;
  color: #333;
}

@media only screen and (max-width: 1300px) {
  .bigCardsContainer {
    gap: 10px;
  
    img {
      width: 200px;
      height: 200px;
    }
  }

  .bigCardParag {
    max-width: 20vw;
  }
}

@media only screen and (max-width: 1000px) {
  .bigCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 30px;
    gap: 30px;
  
    img {
      width: 200px;
      height: 200px;
    }
  }

  .bigCard {
    align-items: center;
    width: 40vw;
    justify-self: center;
  }

  .bigCardParag {
    max-width: 20vw;
  }
}

@media only screen and (max-width: 1000px) {
  .bigCardsContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 30px;
    gap: 30px;
  
    img {
      width: 150px;
      height: 150px;
    }
  }

  .bigCard {
    align-items: center;
    width: 80vw;
    justify-self: center;
  }

  .bigCardParag {
    max-width: 60vw;
  }
}

.bulletsHeading {
  font-size: 60px;
  line-height: 1.1;
  color: #333;
}

.bulletsParag {
  margin: 30px 0;
  color: #333;
  font-size: 24px;
  line-height: 1.2;
}

.bulletsContainer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.leftBullet {
  width: 40%;
  font-size: 22px;
  font-weight: bold;
}

.oneBulleContainer {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  gap: 50px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.listBullet {
  list-style-type: none;
  font-size: 18px;
  line-height: 1.6;
  font-weight: bold;
}

.blueDot {
  display: inline-block;
  background: #008CFF;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.textDot {
  display: inline-block;
  margin-left: 25px;
}

.hukoomiContainer {
  display: flex;
  gap: 80px;
  max-width: 1400px;
  margin: 0 auto;
}

.hukoomiHeadline {
  margin: 30px 0 10px;
  color: #333;
  font-size: 20px;
  line-height: 1.25;
}

.hukoomiParagraph {
  color: #6d6c6c;
  font-style: 15px;
  line-height: 1.4;
}

.bulletsHeading22 {
  margin-top: 100px;
  font-size: 60px;
  line-height: 1.1;
  color: #333;
}

.contentContainer22 {
  max-width: 950px;
  margin: 0 auto;
}

.techStackChoises {
  display: flex;
  flex-direction: column;
}

.techStackOne {
  border-bottom: 1px solid rgba(112,112,112,.2);
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: 700;
}

.techStackOne:last-child {
  border-bottom: none;
}

.activeTech {
  color: #0455BB;
  border-bottom: 1px solid rgba(112,112,112,.2);
  font-size: 18px;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: 700;
}

.activeTech:last-child {
  border-bottom: none;
}

.techStackContainer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.techStackChanges {
  width: 60%;
}

.frontendParagraph {
  margin-bottom: 3rem;
  color: #333;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
}

.languages {
  font-size: 16px;
  margin-bottom: 1.2rem;
}

.basicFront {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 40px;
}