.heroContainer {
  background: lightblue;
  padding-top: 150px;
  padding-bottom: 100px;
}
.heroContainer img {
  transform: scale(0.7);
}

@media only screen and (max-width: 1300px) {
  .heroContainer h2,
  .heroContainer p {
    width: 900px;
  }
  .heroContainer img {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  .heroContainer h2,
  .heroContainer p {
    width: 100%;
  }
}
.mainHeading {
  color: #333;
  font-size: 60px;
  font-weight: bolder;
}

.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(37, 36, 36, 0.8);
  height: 100vh;
  width: 100%;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.contentContainer {
  max-width: 950px;
  margin: 0 auto;
  padding: 100px 20px 0;
}

.mainParagraph {
  margin: 20px 0 30px;
  color: #333;
  font-size: 24px;
}

.flexWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
}
.flexWrapper .flexParagraph {
  font-size: 18px;
  margin: 30px 0;
  width: 45%;
  line-height: 2.1;
}

@media only screen and (max-width: 990px) {
  .flexWrapper {
    gap: 30px;
  }
}
.webImage {
  display: block;
  margin: 40px auto;
}

@media only screen and (max-width: 990px) {
  .webImage {
    width: 75vw;
  }
}
.flexCard {
  display: flex;
  gap: 55px;
  margin-bottom: 80px;
}
.flexCard img {
  width: 45px;
  height: 45px;
}

.cardHeadline {
  color: #000;
  font-size: 30px;
}

.cardText {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
  line-height: 2.1;
}

.blueContainer {
  background: #f3f9ff;
}

.contentContainerBig {
  max-width: 1600px;
  padding: 100px 20px;
  margin: 0 auto;
}

.flexBlue {
  display: flex;
  gap: 170px;
}

@media only screen and (max-width: 1300px) {
  .flexBlue {
    gap: 70px;
  }
}
@media only screen and (max-width: 1150px) {
  .imagePeople img {
    width: 40vw;
  }
}
@media only screen and (max-width: 790px) {
  .flexBlue {
    flex-direction: column-reverse;
  }
  .imagePeople img {
    display: block;
    width: 80vw;
    margin: 0 auto;
  }
}
.textBlueHeadline {
  color: #000;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.flexBlueIcons {
  padding: 1rem 0;
  display: flex;
  gap: 40px;
}

.holderTextHeadline {
  font-size: 20px;
  line-height: 1.25;
  color: #333;
}

.holderTextParagraph {
  font-size: 16px;
  color: #333;
  line-height: 1.4;
  margin-top: 10px;
}

.buttonWork {
  background: #0092ff;
  color: #fff;
  border-radius: 5px;
  padding: 17px 60px;
  font-size: 18px;
  white-space: nowrap;
}

.bigCardsMainHeading {
  font-size: 60px;
  color: #333;
  line-height: 1.1;
}

.bigCardsMainParag {
  font-size: 24px;
  color: #333;
  line-height: 1.2;
  margin: 30px 0;
}

.bigCardsContainer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;
}
.bigCardsContainer img {
  width: 260px;
  height: 260px;
}

.bigCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  padding: 15px;
}

.bigCardHeading {
  color: #333;
  font-size: 24px;
  margin: 30px 0;
}

.bigCardParag {
  font-size: 18px;
  line-height: 36px;
  color: #333;
}

@media only screen and (max-width: 1300px) {
  .bigCardsContainer {
    gap: 10px;
  }
  .bigCardsContainer img {
    width: 200px;
    height: 200px;
  }
  .bigCardParag {
    max-width: 20vw;
  }
}
@media only screen and (max-width: 1000px) {
  .bigCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 30px;
    gap: 30px;
  }
  .bigCardsContainer img {
    width: 200px;
    height: 200px;
  }
  .bigCard {
    align-items: center;
    width: 40vw;
    justify-self: center;
  }
  .bigCardParag {
    max-width: 20vw;
  }
}
@media only screen and (max-width: 1000px) {
  .bigCardsContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 30px;
    gap: 30px;
  }
  .bigCardsContainer img {
    width: 150px;
    height: 150px;
  }
  .bigCard {
    align-items: center;
    width: 80vw;
    justify-self: center;
  }
  .bigCardParag {
    max-width: 60vw;
  }
}
.bulletsHeading {
  font-size: 60px;
  line-height: 1.1;
  color: #333;
}

.bulletsParag {
  margin: 30px 0;
  color: #333;
  font-size: 24px;
  line-height: 1.2;
}

.bulletsContainer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.leftBullet {
  width: 40%;
  font-size: 22px;
  font-weight: bold;
}

.oneBulleContainer {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  gap: 50px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.listBullet {
  list-style-type: none;
  font-size: 18px;
  line-height: 1.6;
  font-weight: bold;
}

.blueDot {
  display: inline-block;
  background: #008cff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.textDot {
  display: inline-block;
  margin-left: 25px;
}

.hukoomiContainer {
  display: flex;
  gap: 80px;
  max-width: 1400px;
  margin: 0 auto;
}

.hukoomiLeft,
.hukoomiRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

@media only screen and (max-width: 1450px) {
  .hukoomiContainer img {
    width: 35vw;
  }
}
@media only screen and (max-width: 850px) {
  .hukoomiContainer {
    flex-direction: column;
  }
  .hukoomiContainer img {
    width: 75vw;
  }
}
.hukoomiHeadline {
  margin: 30px 0 10px;
  color: #333;
  font-size: 20px;
  line-height: 1.25;
}

.hukoomiParagraph {
  color: #6d6c6c;
  font-style: 15px;
  line-height: 1.4;
}

.bulletsHeading22 {
  margin-top: 100px;
  font-size: 60px;
  line-height: 1.1;
  color: #333;
}

.contentContainer22 {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
}

.techStackChoises {
  display: flex;
  flex-direction: column;
}

.techStackOne {
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: 700;
}

.techStackOne:last-child {
  border-bottom: none;
}

.activeTech {
  color: #0455bb;
  border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  font-size: 18px;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: 700;
}

.activeTech:last-child {
  border-bottom: none;
}

.techStackContainer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

@media only screen and (max-width: 650px) {
  .techStackContainer {
    flex-direction: column;
  }
}
.techStackChanges {
  width: 60%;
}

.frontendParagraph {
  margin-bottom: 3rem;
  color: #333;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
}

.languages {
  font-size: 16px;
  margin-bottom: 1.2rem;
}

.basicFront {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 40px;
}

.basicBack {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.basicBack img {
  max-width: 155px;
}

.contentContainer33 {
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}
.contentContainer33 img {
  width: 80vw;
}
.contentContainer33 .textBanner {
  position: absolute;
  top: 80px;
  left: 40px;
  color: #000;
  line-height: 1.3;
  font-size: 26px;
  font-weight: bold;
}

@media only screen and (max-width: 1100px) {
  .contentContainer33 {
    max-width: 850px;
    margin: 0 auto;
    position: relative;
  }
  .contentContainer33 .textBanner {
    position: absolute;
    top: 80px;
    left: 10vw;
    color: #000;
    line-height: 1.3;
    font-size: 20px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 700px) {
  .contentContainer33 .textBanner {
    width: 45vw;
    position: absolute;
    top: 50px;
    left: 10vw;
    color: #000;
    line-height: 1.3;
    font-size: 16px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 500px) {
  .contentContainer33 .textBanner {
    width: 45vw;
    position: absolute;
    top: 10px;
    left: 10vw;
    color: #000;
    line-height: 1.3;
    font-size: 13px;
    font-weight: bold;
  }
}
.carouselDiv {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.carouselInnerDiv {
  padding: 50px 40px 20px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  width: 45vw;
  margin-right: 25px;
  height: 410px;
}
.carouselInnerDiv .titleSlide {
  color: #000;
  font-size: 24px;
  font-weight: bolder;
  margin: 25px 0;
}
.carouselInnerDiv .textSlide {
  color: #6d6c6c;
  font-size: 18px;
  line-height: 2.1;
}
.carouselInnerDiv img {
  width: 45px;
  height: 45px;
}

@media only screen and (max-width: 1750px) {
  .carouselInnerDiv {
    height: 600px;
  }
}
@media only screen and (max-width: 1000px) {
  .carouselInnerDiv {
    height: 600px;
    width: 85vw;
  }
}
@media only screen and (max-width: 600px) {
  .carouselInnerDiv {
    height: 800px;
  }
}
@media only screen and (max-width: 400px) {
  .carouselInnerDiv {
    height: 1000px;
  }
}
.contentContainer44 {
  max-width: 950px;
  margin: 150px auto 0;
  padding: 0 15px;
}

.trustedHeadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
}
.trustedHeadline h2 {
  color: #333;
  font-size: 30px;
  font-weight: bold;
}
.trustedHeadline span {
  background: #333;
  height: 2px;
  width: 50px;
  display: block;
}

.trustedImages {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.trustedImages img {
  width: 130px;
  display: block;
  margin-left: 20px;
}

@media only screen and (max-width: 800px) {
  .trustedImages {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}
.questionsHeading {
  color: #333;
  font-size: 60px;
  font-weight: bolder;
  margin-bottom: 65px;
}

.masterQuestion {
  margin-bottom: 40px;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 30px;
}
.masterQuestion p {
  font-size: 18px;
  line-height: 1.9;
  color: #333;
}

.masterQuestion:last-child {
  border-bottom: none;
}

.headlineQuestion {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 30px;
}
.headlineQuestion h2 {
  font-size: 20px;
}
.headlineQuestion span {
  font-size: 35px;
  font-weight: 400;
}

.contentContainer55 {
  max-width: 1100px;
  margin: 150px auto 0;
  padding: 0 15px;
}

.relatedHeading {
  font-size: 60px;
  color: #333;
  font-weight: 600;
}

.relatedContainer {
  margin-top: 70px;
  display: flex;
  gap: 80px;
  border-bottom: 1px solid #abb8c3;
  padding-bottom: 70px;
}

.relatedFirst {
  width: 35%;
}
.relatedFirst img {
  width: 360px;
}

.relatedSecond {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.relatedSecond img {
  width: 250px;
  height: 245px;
  -o-object-fit: cover;
     object-fit: cover;
}

.relatedSmall {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  color: #333;
}

.relatedText {
  font-size: 18px;
  color: #333;
  margin: 40px 0;
  line-height: 1.5;
}

.relatedSecondInner {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 650px) {
  .relatedSecondInner {
    flex-direction: column;
  }
}
.relatedSecondInner:last-child {
  margin-top: 50px;
}

@media only screen and (max-width: 880px) {
  .relatedContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .relatedHeading {
    text-align: center;
  }
}
.iosandroid {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 220px;
  margin-bottom: 100px;
  padding: 0 50px;
}
.iosandroid img {
  width: 37px;
  height: 37px;
  margin-right: 20px;
}

@media only screen and (max-width: 700px) {
  .iosandroid {
    gap: 120px;
  }
}
@media only screen and (max-width: 550px) {
  .iosandroid {
    gap: 50px;
  }
}
.iosHead {
  display: flex;
  align-items: center;
}

.iosandroidParag {
  margin: 30px 0 15px;
  color: #333;
  font-size: 18px;
  line-height: 1.35;
}

.iosHeadline {
  color: #333;
  font-size: 24px;
  font-weight: 600;
}

.uDesno {
  justify-content: flex-end;
}

.uDesnoParag {
  text-align: right;
}

@media only screen and (max-width: 550px) {
  .trustedImages {
    gap: 20px;
  }
  .trustedImages img {
    width: 100px;
    display: block;
    margin-left: 20px;
  }
  .mainHeading,
  .bigCardsMainHeading, .bulletsHeading {
    font-size: 40px;
  }
  .trustedHeadline {
    max-width: 375px;
  }
  .trustedHeadline h2 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
  }
  .trustedHeadline span {
    background: #333;
    height: 2px;
    width: 30px;
    display: block;
  }
  .relatedFirst {
    width: 85%;
  }
  .relatedFirst img {
    width: 65vw;
  }
}