.drawerWrapper {
  width: 50%;
  height: 100vh;
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
}
.container {
  margin-top: 150px;
  display: flex;
  padding-left: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.menuItems {
  width: 100%;
  padding-bottom: 20px;
  font-size: 24px;
  cursor: pointer;
}
.menuItems :hover {
  color: #0092ff;
}
.icon {
  margin-left: 10px;
}
.subMenuWrapper {
  margin-left: 30px;
  font-size: 18px;
}
.subMenuItem {
  margin-bottom: 10px;
  cursor: pointer;
}
.subMenuItem:hover {
  color: #0092ff;
}
.service {
  display: inline-block;
  font-size: 24px;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
.service:hover {
  color: #0092ff;
}
@media screen and (max-width: 360px) {
  .icon {
    margin-left: 0;
  }
  .subMenuWrapper {
    margin-left: 10px;
  }
  .container {
    padding: 10px;
  }
}
