.partners {
  width: 70%;
  margin: 0 auto;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  img {
    display: inline-block;
    // width: 100%;
    width: 157px;
    height: 100%;
    object-fit: contain;
  }
}

@media only screen and (max-width: 690px) {
  .partners {
    width: 100%;
    padding: 30px;
  }
}

@media only screen and (max-width: 470px) {
  .partners {
    padding: 20px;
  }
}

@media only screen and (max-width: 404px) {
  .partners {
    justify-content: center;
  }
}
