// .apply {
//   height: 100vh;
// }
.container {
  margin-block: 200px;
  // width: 90%;
  margin-left: 10%;
  display: flex;
  align-items: center;
}
.flex {
  padding-right: 50px;
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 22px;
    font-weight: 400;
    margin: 20px auto 40px;
  }
  button {
    background-color: #0092ff;
    color: white;
    padding: 22px 40px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
}
.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-right: 3%;
  //   margin-top: 50px;
  //   margin-left: 10%;
  //   width: 80%;
  div {
    // height: 200px;
    background-color: rgb(153, 84, 84);
    // margin-bottom: 25px;
    cursor: pointer;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 850px) {
  .container {
    flex-direction: column;
  }
  .flex {
    padding-top: 80px;
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 22px;
      font-weight: 400;
      margin: 20px auto 40px;
    }
    button {
      margin-bottom: 20px;
    }
  }
}