.navbarWhite,
.navbarTransparent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  color: rgb(35, 41, 46);
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  transition: all 0.5s ease;
  height: 80px;
  padding: 10px 0;
}

.navbarTransparent {
  background-color: transparent;
  color: white;
  height: 90px;
}

.navbarWhite::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13%;
  width: 100vw;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.11);
  z-index: -1;
  transition: height 0.5s ease, background-color 0.9s ease;
}

.navbarTransparent::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13%;
  width: 100vw;
  height: 0%;
  background-color: transparent;
  z-index: -1;
  transition: all 0.5s ease;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  width: 50%;
  font-size: 1.2rem;
}

.menuItem {
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
  transition: all 0.5s ease;
}
.menuItem span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0%;
  transition: all 0.1s ease;
}

.menuItem:hover {
  color: #0092ff;
}
.menuItem:hover span {
  width: 100%;
  background-color: #0092ff;
  transition: all 0.5s ease;
}

.contact {
  border-radius: 5px;
  background-color: #0092ff;
  color: white;
  padding: 19px 30px;
}

.logoHover:hover {
  cursor: pointer;
}