.carouselComp {
  height: calc(100vh - 80px);
    display: flex;
    position: relative;
}
.container {
    position: relative;
    width: 90%;
    height: 80%;
    background-color: aqua;
    overflow: hidden;
}
.show, .hide {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: red;
    transition: transform 0.5s ease;
    z-index: 2;
}
.hide {
    transform: translateX(100%);
    // background-color: aquamarine;
    transition: transform 0s ease 0.5s;
    z-index: 1;
}
.sliderContent {
    color: white;
    position: relative;
    width: 70%;
    top: 24%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-shadow: 0 1px 10px black;
    h2 {
        font-size: 60px;
    }
    p {
        font-size: 24px;
    }
}

@media only screen and (max-width: 1091px) {
    .sliderContent {
        width: 70%;
        h2 {
            font-size: 40px;
        }
        p {
            font-size: 19px;
        }
    }
  }

@media only screen and (max-width: 600px) {
    .sliderContent {
        left: 50%;
        top: 44%;
    }
  }
.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #0092ff;
}
.info {
    position: absolute;
    bottom: 10%;
    width: 70%;
    // height: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        font-size: 32px;
    }
    p {
        font-size: 24px;
    }
}

@media only screen and (max-width: 1210px) {
    .info {
        width: 90%;
        flex-wrap: wrap;
        h2 {
            font-size: 27px;
        }
        p {
            font-size: 19px;
        }
    }
  }

@media only screen and (max-width: 801px) {
    .info {
        width: 95%;
        bottom: 1%;
        flex-wrap: wrap;
        gap: 15px;
        h2 {
            font-size: 22px;
        }
        p {
            font-size: 16px;
        }
    }
  }

