.heroContainer {
  background: lightblue;
  padding-top: 150px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 700px) {
  .heroContainer {
    margin-bottom: 60px;
  }
}

.contentContainer {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 25px;
}

.mainHeading {
  color: #000;
  font-size: 60px;
  font-weight: bolder;
}

.mainParagraph {
  margin: 20px 0 30px;
  color: #333;
  font-size: 24px;
}

.wideContainer {
  width: 100vw;
  position: relative;
}

.telephoneHolder {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1700px) {
  .contentContainer33 {
    max-width: 850px;
    margin: 0 auto;
    position: relative;

    .textBanner {
      position: absolute;
      top: 80px;
      left: 10vw;
      color: #000;
      line-height: 1.3;
      font-size: 20px;
      font-weight: bold;
    }
  }
}